@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootswatch/cyborg/bootstrap.css";

body{
    color:white;
    font-family:'Source Code Pro';
}

input, select{
    color:black;
}

.attacker{
    border:1px solid blue;
}

.target{
    border:1px solid yellow;
}

.ko{
    border:1px solid red;
}